<app-header-nav></app-header-nav>


<div class="container">
  
  <div class="row">
    <div class="col-md-6 mx-auto">
      <ais-instantsearch [config]="{
        apiKey:'c6164f3453372ad2c7a15dbc8999359f',
        appId:'UYLBD3G4QB',
        indexName:'products',
        routing:true
    }">
        <ais-search-box></ais-search-box>
        <ais-hits>
          <ng-template let-hits="hits" let-results="results">
            <div *ngIf="hits.length ===0">
              No Records Found matching <strong> {{results.query}} </strong>.
            </div>
            <div *ngIf="results.query">
              <div *ngFor="let hit of hits">
               
                <ais-highlight attribute="title" [hit]="hit">                    
                </ais-highlight>
              </div>
            </div>
          </ng-template>
        </ais-hits>
    
      </ais-instantsearch>
      <br>
      <br>
    </div>
  </div>

  <app-products>

  </app-products>


</div>
